@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --rows: 3;
    --columns: 3;
    --orange-color: #fa9262;
    --blue-color: #a6d1ff;
    --bg-color: #f4f5f5;
}

body {
    background-color: var(--bg-color);
}

h1 {
    padding: 2rem;
}

.game-btn,
input[type="text"] {
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.5rem 0.8rem;
}

.game-btn {
    background-color: var(--orange-color);
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}

.game-btn:hover {
    filter: brightness(0.9);
}

.display-container,
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-container {
    flex-direction: column;
}

.board {
    background: transparent;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(var(--rows), 1fr);
    grid-template-rows: repeat(var(--columns), 1fr);
    gap: 2px;
    border: none;
    overflow: hidden;
}

.board .cell {
    outline: 4px solid #000;
    z-index: 1;
}

.board .cell:last-child {
    grid-area: var(--rows)/var(--columns);
}

.cell {
    background: transparent;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.cell:hover {
    background-color: var(--blue-color);
    z-index: 0;
}

.game-area,
.game-container {
    width: 100%;
}

.game-container {
    display: none;
}

.game-area {
    display: flex;
    justify-content: space-evenly;
}

.player-one-info,
.player-two-info,
.middle,
.player-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.player-one-info,
.player-two-info {
    gap: 1rem;
}

.active-player-bg {
    background-color: var(--blue-color);
    border-radius: 0.25rem;
}

.board {
    margin: 1.5rem;
}

#names-form {
    display: block;
}

.form-content {
    display: flex;
    gap: 2rem;
}

label,
input[type="text"] {
    display: flex;
    align-items: center;
}

input[type="text"] {
    border: 1px solid black;
    outline: none;
}

.submit-div {
    display: flex;
    align-items: flex-end;
}

.label-img {
    width: 2rem;
    height: 2rem;
}

#menu-btn {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    margin: 2rem;
}